    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <br/>
                <p>Pour supprimer son compte et les données associées</p>
                <p>Il suffit d'envoyer un email à <a href="mailto:nawalishop.app@gmail.com">nawalishop.app@gmail.com</a></p>
                <p>Le compte sera supprimé sous 24h.</p>
                <p></p>
                <br/>
              </div>
        </div>
    </section>
